<h1>Đăng nhập</h1>

<form action="/login" method="POST">
    <div style="margin-left: 50px">
        <div class="form-group" style="width: 300px; ">
            <label for="userName">Email :</label>
            <input type="text" class="form-control" placeholder="Nhập email" id="userName" name="userName" value="{{userName}}">
        </div>
        <div class="form-group" style="width: 300px;">
            <label for="password">Password:</label>
            <input type="password" class="form-control" placeholder="Nhập password" id="password" name="password" value="{{password}}">
        </div>
        <div style="margin-bottom: 30px">
                {{#if msg}}
                    <div style="color: red;">{{msg}}</div>
                {{/if}}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>